body {
    width: 300px;
    height: 300px;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 3px solid white;
    height: 150px;
    padding: 15px;
    margin-bottom: -80px;
}

.loading {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 200px;
    margin-bottom: -100px;
}


footer {
    width: 325px;
    margin-bottom: -130px;
    padding: 7px 0px;
    text-align: center;
    background-color: gainsboro;
    font-weight: 300;
    letter-spacing: 2px;
}